# openocd config for dexter_apu_vex
# CPU access to JTAG via EMIO GPIO pins

adapter driver sysfsgpio

bindto 0.0.0.0

# Each of the JTAG lines need a gpio number set: tck tms tdi tdo
# Zynq MIO GPIO start at pin 906
# The EMIO are after the 54 MIO
# tck: emio_gpio[60] 906 + 54 + 60  = 1020
# tms: emio_gpio[61] 906 + 54 + 61  = 1021
# tdi: emio_gpio[62] 906 + 54 + 62  = 1022
# tdo: emio_gpio[0]  906 + 54 + 0   = 960

sysfsgpio jtag_nums 1020 1021 1022 960

transport select jtag

set _CHIPNAME riscv
set _TARGETNAME $_CHIPNAME.cpu
jtag newtap $_CHIPNAME tap -irlen 5
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.tap

init

# gdb_report_data_abort enable
# gdb_report_register_access_error enable
# gdb_breakpoint_override hard
